.video {
    position: relative;
    height: 0px;
    margin-bottom: 20px;
    padding-bottom: 59%;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.container-audio {
    background-color: rgba(0, 0, 0, 0.142); 
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    margin: 10px auto 100px auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    padding: 25px;
    box-sizing: border-box;
}

audio {
    width: 100%;
    display: block;
}


@media (min-width: 601px) and (max-width: 1024px) {
    .container-audio {
        width: 70%;
        padding: 30px;
    }
}


@media (min-width: 1025px) {
    .container-audio {
        width: fit-content;
        padding: 40px;
    }

    audio {
        width: 300px; 
    }
}